.back-to-top {
	width: 40px;
	height: 40px;
	right: 10px;
	bottom: 10px;
	border: 1px solid var(--color-light);
	transition: background 0.5s ease;

	& .back-to-top__icon {
		width: 13px;
		height: 8px;
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	}

	&:hover {
		background: var(--color-blue);

		& .back-to-top__icon {
			background: var(--bs-white);
		}
	}
}
