.banner-slide__content {
	transform: scale(0.4);
	top: 4%;
	left: -23%;

	@media (--md) {
		left: 3%;
		transform: translateY(-50%);
		top: 50%;
	}

	@media (--xxxl) {
		left: 14%;
	}
}

.banner-slide__button {
	width: max-content;
}

.banner-slide__title {
	color: var(--color-grey);
}

.banner-slide__image {
	height: auto;

	@media (--md) {
		height: 730px;
	}
}
