.pagination .page-numbers {
	padding: 6px 12px;
	line-height: 1;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid var(--bs-border-color);

	@media (--md) {
		font-size: 14px;
	}

	&.current {
		background: var(--color-blue);
		color: var(--bs-white);
		border: 1px solid var(--color-blue);
	}

	&:hover {
		background: var(--bs-border-color);
		color: var(--color-light);
	}
}
