.post-card-overlay__background-image--placeholder
	.responsive-static-image__image,
.post-card-overlay__background-image .image__img {
	@mixin abs-full;
}

.post-card-overlay__overlay {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.25) 100%
	);
}

.post-card-overlay--two-up-posts {
	&::before {
		@media (--md) {
			padding-top: 100%;
		}
	}
}
