.secrets-item__title {
	color: var(--color-grey);
}

.secrets-item {
	&:hover {
		.secrets-item__title {
			color: var(--color-light);
		}

		.secrets-item__image img {
			transform: scale(1.05);
			filter: grayscale(60%);
		}
	}
}

.secrets-item .secrets-item__image img {
	transition: all 0.3s ease;
}
