@custom-media --max-mobile (max-width: 575px);
@custom-media --s (min-width: 480px);
@custom-media --sm (min-width: 600px);
@custom-media --md (min-width: 782px);
@custom-media --lg (min-width: 960px);
@custom-media --xl (min-width: 1080px);
@custom-media --xxl (min-width: 1280px);
@custom-media --xxxl (min-width: 1440px);
@custom-media --max-sm (max-width: 781px);



:root {
	--font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	--font-heading: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
	--font-body: 'SVN_CeraMedium';
	--font-subtitle: "Hurricane", cursive;
	--font-normal: 400;
	--font-semibold: 600;
	--font-bold: 700;
	--grid-gutter: 10px;
	--grid-gutter-m: 16px;
	--container-gutter: 20px;
	--container-gutter-s: 40px;
	--container-gutter-m: 60px;
	--container-gutter-ml: 80px;
	--container-max-sm: 540px;
	--container-max-md: 720px;
	--container-max-lg: 960px;
	--container-max-xl: 1040px;
	--container-max-xxl: 1180px;
	--s: 480px;
	--sm: 600px;
	--md: 782px;
	--lg: 960px;
	--xl: 1080px;
	--xxl: 1280px;
	--xxxl: 1440px;
	--shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
	--swiper-pagination-color: #032435;
	--swiper-pagination-bullet-size: 16px;
	--swiper-pagination-bullet-width: 16px;
	--swiper-pagination-bullet-height: 16px;
	--swiper-pagination-bullet-inactive-color: #000;
	--swiper-pagination-bullet-inactive-opacity: 0.2;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 4px;
	--swiper-pagination-bullet-vertical-gap: 6px;
	--swiper-navigation-color: #032435;
	--swiper-navigation-size: 44px;
	--swiper-theme-color: #032435;
	--gray-text-color: #a09f9f;
	--dark-gray-text-color: #333;
	--primary-green: #538234;
	--green-light: #8fec8a;
	--primary-light: #f2f5ef;
	--primary-gray: rgb(19, 13, 13);
	--primary-blue: #0450a0;
	--primary-hover: #0667b2;
	--primary-bg: #dee6e9;
	--primary-white: #fff;
	--primary-blue-light: #0a7ec7;
	--grey-color-text-body: #514e61;
	--grey-light: #f4f5f6;
	--primary-sidebar-bg: #e6eaee;
	--primary-border-line: #a2c2dc;
	--color-light: #5492db;
	--color-blue: #0b4c90;
	--bg-color: #a9d0f2;
	--color-blue-90: #a3d0e0e6;
	--color-grey: #363636;
	--color-grey-50: #959595;
	--color-dark-80: #01080e;
	--color-blue-dark: #01080e;
	--color-primary-blue: #1c1d54;
	--color-blue-deep: #0b4a91;
	--color-gainsboro: #dbdbdb;
}
