@keyframes full {
	from {
		transform: translate(-50%, 140px);
	}

	to {
		transform: translate(-50%, 0);
	}
}

@keyframes ani_mouse {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(0px);
	}
}

@keyframes ripple {
	0% {
		transform: translate(-50%, -50%) scale(0.2);
		opacity: 0.6;
	}

	100% {
		transform: translate(-50%, -50%) scale(2.5);
		opacity: 1;
	}
}

@keyframes headShake {
	0% {
		transform: translateX(0);
	}

	0.65% {
		transform: translateX(-6px) rotateY(-9deg);
	}

	1.85% {
		transform: translateX(5px) rotateY(7deg);
	}

	3.15% {
		transform: translateX(-3px) rotateY(-5deg);
	}

	4.35% {
		transform: translateX(2px) rotateY(3deg);
	}

	5% {
		transform: translateX(0);
	}
}
