.fs-11 {
	font-size: 11px;
}

.fs-12 {
	font-size: 12px;
}

.fs-13 {
	font-size: 13px;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-22 {
	font-size: 22px;
}

.fs-24 {
	font-size: 24px;
}

.fs-26 {
	font-size: 26px;
}
.fs-35 {
	font-size: 35px;
}

.fs-h2 {
	font-size: 28px;

	@media (--md) {
		font-size: 48px;
	}
}

.header__menu li a {
	letter-spacing: 1.25px;
}

.font-subtitle {
	font-family: var(--font-subtitle);
}

body {
	font-size: 16px;

	@media (--md) {
		font-size: 18px;
	}
}

.banner-slide__subtitle {
	font-size: 68px;

	@media (--md) {
		font-size: 110px;
	}
}

.banner-slide__title {
	font-size: 42px;

	@media (--md) {
		font-size: 48px;
	}
}

.story-section__title {
	font-size: 22px;
	line-height: 34px;
	letter-spacing: 0.8px;

	@media (--md) {
		font-size: 48px;
		line-height: 60px;
	}
}

.story-section__subtitle {
	font-size: 32px;
	line-height: 1.3;

	@media (--md) {
		font-size: 36px;
	}
}

.story-section__description {
	line-height: 24px;
	font-size: 14px;

	@media (--md) {
		font-size: 18px;
	}
}

.ingredient-intro__item-character {
	font-size: 39px;

	@media (--md) {
		font-size: 60px;
	}
}

.ingredient-intro__slide .swiper-slide-next .ingredient-intro__item-name {
	font-size: 72px;
	letter-spacing: 0.5px;
}

.ingredient-intro__left-title {
	font-size: 14px;

	@media (--md) {
		font-size: 22px;
	}
}

.brand-intro__title {
	font-size: 28px;
	line-height: 1.1;
	letter-spacing: 1.8px;

	@media (--md) {
		font-size: 48px;
	}
}

.history-formation__title {
	letter-spacing: 0.5px;
	font-size: 28px;

	@media (--md) {
		font-size: 48px;
	}
}

.brand-intro__description {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.4px;

	@media (--md) {
		font-size: 18px;
	}
}

.story-section__hidden-description {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;

	@media (--md) {
		font-size: 16px;
	}

	@media (--lg) {
		font-size: 18px;
	}
}

.history-formation__description {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;

	@media (--md) {
		font-size: 18px;
	}
}

.history-formation__box-title {
	font-size: 28px;

	@media (--md) {
		font-size: 26px;
	}
}

.history-formation__box-content {
	font-size: 14px;

	@media (--md) {
		font-size: 16px;
	}
}

.subnav--light .subnav__item a {
	font-weight: normal;
	font-size: 16px;

	@media (--md) {
		font-size: 24px;
	}
}

.achievements-about__item-content {
	font-size: 14px;
	line-height: 24px;

	@media (--md) {
		font-size: 16px;
	}
}

.achievements-about__item-name {
	font-size: 18px;

	@media (--md) {
		font-size: 24px;
	}
}

.achievements-about__title {
	font-size: 28px;
	letter-spacing: 0.5px;

	@media (--md) {
		font-size: 48px;
	}
}

.achievements-about__description {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;

	@media (--md) {
		font-size: 18px;
	}
}

.single-post__title {
	font-size: 26px;

	@media (--md) {
		font-size: 48px;
	}
}

.intro-banner__title {
	font-size: 18px;

	@media (--s) {
		font-size: 22px;
	}

	@media (--lg) {
		font-size: 28px;
	}

	@media (--xxl) {
		font-size: 32px;
	}
}

.product-grid__item-letter {
	font-size: 100px;

	@media (--md) {
		font-size: 220px;
	}
}

.investment-cta__title {
	font-size: 35px;

	@media (--md) {
		font-size: 48px;
	}
}

.investment-cta__content p {
	font-size: 14px;

	@media (--md) {
		font-size: 16px;
	}
}

.progress-legendary__title {
	font-size: 30px;
	max-width: 230px;

	@media (--md) {
		font-size: 48px;
		max-width: 100%;
	}
}

.progress-legendary__subtitle {
	font-size: 18px;

	@media (--md) {
		font-size: 24px;
	}
}

.development-history__description {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.5px;

	@media (--md) {
		font-size: 18px;
	}
}

.footer__copyright,
.footer__social-links-text {
	font-size: 14px;

	@media (--md) {
		font-size: 13px;
	}

	@media (--lg) {
		font-size: 14px;
	}
}

.product-grid__title {
	font-size: 28px;

	@media (--md) {
		font-size: 48px;
	}
}

.benefit-card {
	& .benefit-card__title {
		color: var(--primary-hover);
	}

	@media (--sm) {
		& .benefit-card__title {
			color: var(--primary-white);
		}
	}
}

.about-value__title {
	font-size: 24px;

	@media (--md) {
		font-size: 32px;
	}
}

.about-value__description {
	font-size: 14px;

	@media (--md) {
		font-size: 16px;
	}
}

.subnav__link {
	font-size: 16px;

	@media (--md) {
		font-size: 24px;
	}
}

.intro-banner__description {
	font-size: 14px;

	@media (--s) {
		font-size: 16px;
	}

	@media (--md) {
		font-size: 18px;
	}
}
